{% extends 'base.html' %} 

{% block title %} Djanmmerce {% endblock %} 


{% block NavBar %}
<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <a class="navbar-brand fs-3 m-2" href="/">Djanmmerce</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                <a class="nav-link fs-5" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                <a class="nav-link fs-5" href="{% url 'shopping' %}">Products</a>
            </li>
            <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                <a class="nav-link fs-5" href="{% url 'cart' %}">Cart</a>
            </li>
            <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
              <a class="nav-link fs-5" href="{% url 'record' %}">Record</a>
            </li>
        </ul>

        {% if user.is_authenticated %}
          Hi {{user.username}} ! 
          <div class="border-start border-2 ps-3 ms-2 d-flex flex-row align-items-center" style="height: 3.5rem;">
            <a href="{% url 'updateU' %}" class="btn btn-outline-secondary ms-2 fs-6" name="changePassword">
              Change password
            </a>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-2 fs-6" name="logout">
              Log Out
            </a>
          </div>
        {% else %}
          <div class="border-start border-2 ps-3 ms-2 d-flex flex-row align-items-center" style="height: 3.5rem;">
            <a href="{% url 'login' %}" class="btn btn-outline-primary me-3 fs-6" name="logIn">
              Log In
            </a>
            <a href="{% url 'register_user' %}" class="btn btn-outline-primary ms-2 fs-6" name="signIn">
              Sign Up
            </a>
          </div>
        {% endif %}
      </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container text-center">
  <h3>Your Record</h3>
</div>
{% if nCarts > 0 %}
    {% for c in carts %}
        <h4 class='w-100 text-center'> {{c.cart.id}} - {{c.cart.date}} </h4>
        <div class="w-75 mx-auto mt-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">BRAND</th>
                    <th scope="col">PRICE</th>
                </tr>
                </thead>
                <tbody>
                {% for o in c.orders %}
                <tr>
                    <th scope="row">{{o.product.name}}</th>
                    <td>{{o.product.description}}</td>
                    <td>{{o.product.brand}}</td>
                    <td>{{o.product.price}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='w-75 d-flex flex-row justify-content-end'>
            <div class='d-flex flex-column align-items-end'>
              <h5>Total : {{c.cart.cost}}</h5>
            </div>
          </div>
    {% endfor %}
{% else %}
  <h4 class='w-100 text-center'> No Purchases Yet! </h4>
{% endif %}
{% endblock %}
