{% extends 'base.html' %}

{% block title %} E-COMMERCE Products {% endblock %}


{% block NavBar %}
<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <a class="navbar-brand fs-3 m-2" href="/">Djanmmerce</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                  <a class="nav-link fs-5" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                  <a class="nav-link fs-5" href="{% url 'product' %}">Products</a>
              </li>
              <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                  <a class="nav-link fs-5" href="{% url 'brands' %}">Brands</a>
              </li>
              <li class="nav-item border-start border-2 ms-2 ps-2 py-1">
                  <a class="nav-link fs-5" href="{% url 'users' %}">Users</a>
              </li>
          </ul>

          {% if user.is_authenticated %}
            Hi {{user.username}} ! 
            <div class="border-start border-2 ps-3 ms-2 d-flex flex-row align-items-center" style="height: 3.5rem;">
              <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-2 fs-6" name="logout">
                Log Out
              </a>
            </div>
          {% else %}
            <div class="border-start border-2 ps-3 ms-2 d-flex flex-row align-items-center" style="height: 3.5rem;">
              <a href="{% url 'login' %}" class="btn btn-outline-primary me-3 fs-6" name="logIn">
                Log In
              </a>
              <a href="{% url 'register_user' %}" class="btn btn-outline-primary ms-2 fs-6" name="signIn">
                Sign In
              </a>
            </div>
          {% endif %}
      </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="w-100 p-0">
  <div class="d-flex flex-row justify-content-between mx-5">
    <h3 class="ms-5">Productos legales</h3>
    <a class="me-5 btn btn-outline-success rounded-3 text-success" href="{% url 'create_product' %}">
      <i class="bi bi-plus fs-3"></i> </a>
  </div>
  <div class="w-75 mx-auto mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope=" col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">PRICE</th>
          <th scope="col">STOCK</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">BRAND</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr>
          <th scope="row">{{p.id}}</th>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.stock}}</td>
          <td>{{p.description}}</td>
          <td>{{p.brand}}</td>
          <td><a href="{% url 'update_product' p.id %}"> <i class="bi bi-pencil fs-5 text-warning"></i> </a></td>
          <td><a href="{% url 'delete_product' p.id %}"><i class="bi bi-x-square fs-5 text-danger"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}