*{
    /* font-family: 'Nunito'; */
    font-family: 'Confortaa';
    /* font-family: 'Ubuntu'; */
    /* font-family: 'Roboto'; */
}

.formR {
    display: flex;
    flex-direction: column;
}

.formR p{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}