{% extends 'base.html' %} 

{% block title %} Sign In {% endblock %} 

{% block content %}

{% if form.errors %}
    <p>There was an error with your form...</p>
{% endif %}

<div class="d-flex flex-column align-items-center mx-5 mt-5">
    <h3>Sign Up</h3>

    <form action="{% url 'register_4dm1n' %}" class='formR' method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-secondary align-self-center">
    </form>
</div>
{% endblock %}